<div *ngFor="let course of courses" >
     <div>{{course}}</div>
     <div ngNonBindable>The course above renders is {{course}}</div>
</div>

<br>

<table border="1" > 
 <thead [ngStyle]="{color:color,'font-size.px':fontSize}">
    <tr>
        <td > First Name </td>
         <td> Last Name </td> 
         <td> Score </td></tr>
 </thead>
 <tbody *ngFor="let student of students">
    <tr  [ngClass] ="classObj"><td> {{student.fname}}</td>
         <td> {{student.lname}} </td> 
         <td> {{student.score}}</td></tr>
 </tbody>
</table>

<br/>

<table border="1" > 
    <thead [ngClass]="{tdata:true}">
       <tr [ngStyle]="{'color':'red','background-color':'yellow'}">
         <td> Movie Title </td>
         <td> Genre </td> 
         <td> Director </td>
        </tr>
    </thead>
    <tbody *ngFor="let movie of movies">
       <tr>
        <td [style.background]="'blue'"> {{movie.title}}</td> 
        <td [style.color]="'green'"> {{movie.genre}} </td>
         <td [style.color]="'aqua'" [style.font-size.px]="fontSize"> {{movie.director}}</td>
        </tr>
    </tbody>
   </table>